
.topSpace{
    margin-top:50px;
}

.subText{
  font-size: 14px;
}


.basket{
    display:flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.kart-form{
    width:40%;
    margin: 60px auto;
    max-width: 80%;
}

.kart-form-submit{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}


.form-control input {
    font: inherit;
    padding: 0.1rem 0.25rem;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
  }

  .form-control input:focus {
    outline: none;
    border-bottom-color: #ff2058;
  }